lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*sublime*

pids
logs
results

# local dev cache
.cache

node_modules
npm-debug.log

.DS_Store
.bundle
.vagrant
.cookbooks_path.json
**/vendor/bundle

server/db/*

a_vagrant_machine/.cookbooks_path.json
a_vagrant_machine/.vagrant
config/10xeng.yaml

service/Procfile
service/.foreman

# VMs operational data
data_bags/vms/*.json
