lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*sublime*

pids
logs
results

node_modules
npm-debug.log

.DS_Store

a_vagrant_machine/.cookbooks_path.json
a_vagrant_machine/.vagrant

service/Procfile
service/.bundle
service/.foreman
service/vendor/bundle
