lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*sublime*

pids
logs
results

node_modules
npm-debug.log

.DS_Store
.bundle
**/vendor/bundle

server/db/*

a_vagrant_machine/.cookbooks_path.json
a_vagrant_machine/.vagrant

service/Procfile
service/.foreman

# VMs operational data
data_bags/vms/*.json
